#Terminales de salida para color (RGB) de 8 bits. 3rojo,3verde,2azul
NET "RGB[0]" LOC = U4 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "RGB[1]" LOC = U5 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "RGB[2]" LOC = P6 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "RGB[3]" LOC = P8 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "RGB[4]" LOC = N8 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "RGB[5]" LOC = R8 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "RGB[6]" LOC = T8 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "RGB[7]" LOC = R9 | IOSTANDARD = LVTTL | DRIVE = 8;
#Terminal de señal de reloj de 50MHZ.
NET "clk" LOC = B8 | IOSTANDARD = LVCMOS33;
#Terminales de salida de señales de sincronía horizontal y vertical
NET "shor" LOC = T4 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "sver" LOC = U3 | IOSTANDARD = LVTTL | DRIVE = 8;
#Entradas de control con botones
NET "up1" LOC = H13;
NET "up2" LOC = D18;
NET "down1" LOC = E18;
NET "down2" LOC = B18;
